In [2]:
# Import the dependencies.

# Using pandas to read our csv file and create locations and measurements from the df
import pandas as pd

# Using to create heatmaps and the location map
import gmaps

# Using this to make a request to the google places json file which will allove us to get hotel locations from lat and long of city.
import requests

# Import the API key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DF.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-07-27 04:02:54,-21.3585,55.7679,65.79,83,87,9.89
1,1,Provideniya,RU,2021-07-27 04:02:54,64.3833,-173.3000,50.11,81,90,8.95
2,2,Busselton,AU,2021-07-27 04:02:55,-33.6500,115.3333,58.05,56,95,23.69
3,3,Saint George,US,2021-07-27 04:02:02,37.1041,-113.5841,76.62,79,20,3.44
4,4,Turukhansk,RU,2021-07-27 04:02:55,65.8167,87.9833,82.11,44,54,19.64

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Saint George,US,2021-07-27 04:02:02,37.1041,-113.5841,76.62,79,20,3.44
4,4,Turukhansk,RU,2021-07-27 04:02:55,65.8167,87.9833,82.11,44,54,19.64
8,8,Tual,ID,2021-07-27 04:02:57,-5.6667,132.7500,81.63,77,62,17.27
13,13,Cockburn Town,TC,2021-07-27 03:59:35,21.4612,-71.1419,82.27,85,25,15.52
14,14,Butaritari,KI,2021-07-27 04:02:59,3.0707,172.7902,82.02,74,35,4.21
23,23,Kapaa,US,2021-07-27 04:03:02,22.0752,-159.3190,84.18,80,79,1.99
28,28,Medicine Hat,CA,2021-07-27 03:59:17,50.0501,-110.6683,77.22,37,51,9.73
34,34,Cabo San Lucas,MX,2021-07-27 04:03:08,22.8909,-109.9124,87.80,76,1,8.99
38,38,Tabou,CI,2021-07-27 04:03:09,4.4230,-7.3528,75.40,81,100,7.99
40,40,Makakilo City,US,2021-07-27 04:03:10,21.3469,-158.0858,80.35,69,90,9.22

In [26]:
# To determine if any null value
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [28]:
# to determine if any null values (different way)
preferred_cities_df.notnull().sum()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3     Saint George      US     76.62  37.1041 -113.5841
4       Turukhansk      RU     82.11  65.8167   87.9833
8             Tual      ID     81.63  -5.6667  132.7500
13   Cockburn Town      TC     82.27  21.4612  -71.1419
14      Butaritari      KI     82.02   3.0707  172.7902
23           Kapaa      US     84.18  22.0752 -159.3190
28    Medicine Hat      CA     77.22  50.0501 -110.6683
34  Cabo San Lucas      MX     87.80  22.8909 -109.9124
38           Tabou      CI     75.40   4.4230   -7.3528
40   Makakilo City      US     80.35  21.3469 -158.0858

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print('Hotel Not Found...skipping')

Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping
Hotel Not Found...skipping

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Saint George,US,76.62,37.1041,-113.5841,Best Western Plus Abbey Inn
4,Turukhansk,RU,82.11,65.8167,87.9833,"ООО ""Туруханская пушнина"""
8,Tual,ID,81.63,-5.6667,132.7500,Grand Vilia Hotel
13,Cockburn Town,TC,82.27,21.4612,-71.1419,Osprey Beach Hotel
14,Butaritari,KI,82.02,3.0707,172.7902,Isles Sunset Lodge
23,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Medicine Hat,CA,77.22,50.0501,-110.6683,Sun Dek Motel
34,Cabo San Lucas,MX,87.80,22.8909,-109.9124,Hotel Tesoro Los Cabos
38,Tabou,CI,75.40,4.4230,-7.3528,hotêl doufoulougou
40,Makakilo City,US,80.35,21.3469,-158.0858,Marriott's Ko Olina Beach Club

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))